.container {
    width: 400px;
    margin: auto;
}

.grid {
    width: 400px;
    height: 600px;
    background: linear-gradient(45deg, rgba(34, 195, 192, 1) 0%, rgba(45, 208, 253, 1) 100%);
    position: relative;
}

.doodler {
    width: 100px;
    height: 85px;
    background-image: url(./images/ange6.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.platform {
    width: 85px;
    height: 55px;
    /*  background-color: plum; */
    background-image: url(./images/nuage2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}